# Hunger, Emotion and Glucose level
## BG Lim
## 1/14/25
## Clean combined CGM and EMA Data

# Analysis
## Descriptive Statistics
### EMA
### Compliance

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
import pandas as pd
# 엑셀 파일 불러오기
df = pd.read_excel('/Users/bg.lim/Downloads/Texas A&M_Agrilife/Projects/1.CGM/Pilot/Datas/EMA/BG_EMA/75_EMA_Comp.xlsx', engine='openpyxl')  # 파일 경로 지정

df

,Study ID,id,label,is_dropped,start_time,end_time,last_recorded_data,sessions_completed,sessions_expired,sessions_canceled,sessions_unknown,Session Compliance w/ 84,Session Compliance,Session Compliance %,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1,60644,NaN,False,2022-10-05 16:55:37.866000+00:00,2022-10-19 16:55:37.866000+00:00,2022-10-19 17:10:13+0000,62,17,0.0,0.0,73.809524,0.784810,78.481013,NaN,NaN,NaN
1,2,60866,NaN,False,2022-10-10 17:21:30.815000+00:00,2022-10-24 17:21:30.815000+00:00,2022-10-24 16:05:40+0000,71,9,0.0,0.0,84.523810,0.887500,88.750000,NaN,NaN,Anita Added Fields
2,3,60917,NaN,False,2022-10-11 19:20:08.346000+00:00,2022-10-25 19:20:08.346000+00:00,2022-10-26 12:31:05+0000,60,21,0.0,0.0,71.428571,0.740741,74.074074,NaN,NaN,NaN
3,7,61191,NaN,False,2022-10-17 15:35:18.953000+00:00,2022-10-31 15:35:18.953000+00:00,2022-10-31 14:44:57+0000,66,13,0.0,0.0,78.571429,0.835443,83.544304,NaN,NaN,NaN
4,8,61193,NaN,False,2022-10-17 16:17:39.058000+00:00,2022-10-31 16:17:39.058000+00:00,2022-10-31 14:17:22+0000,73,5,1.0,0.0,86.904762,0.924051,92.405063,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,83,70389,NaN,NaN,NaN,NaN,NaN,56,23,NaN,NaN,66.666667,0.810127,81.012658,NaN,NaN,NaN
71,84,70390,NaN,NaN,NaN,NaN,NaN,64,15,NaN,NaN,76.190476,0.835443,83.544304,NaN,NaN,NaN
72,85,70393,NaN,NaN,NaN,NaN,NaN,66,14,NaN,NaN,78.571429,0.825000,82.500000,NaN,NaN,NaN
73,86,70510,NaN,NaN,NaN,NaN,NaN,66,15,NaN,NaN,78.571429,0.654321,65.432099,NaN,NaN,NaN
74,87,70883,NaN,NaN,NaN,NaN,NaN,53,28,NaN,NaN,63.095238,0.777778,77.777778,NaN,NaN,NaN

In [2]:
# 통계 계산
stats = {
    "Min": [df["Session Compliance %"].min()],
    "Med": [df["Session Compliance %"].median()],
    "Mean": [df["Session Compliance %"].mean()],
    "SD": [df["Session Compliance %"].std()],
    "Max": [df["Session Compliance %"].max()],
}

# 표 생성
stats_df = pd.DataFrame(stats)

# 결과 출력
print(stats_df)

         Min    Med       Mean         SD    Max
0  53.164557  86.25  83.558356  11.171548  100.0

In [3]:
from tabulate import tabulate

# 통계 데이터
stats = {
    "Statistic": ["Min", "Median", "Mean", "SD", "Max"],
    "Value": [
        df["Session Compliance %"].min(),
        df["Session Compliance %"].median(),
        df["Session Compliance %"].mean(),
        df["Session Compliance %"].std(),
        df["Session Compliance %"].max(),
    ],
}

# 표 생성
stats_df = pd.DataFrame(stats)

# tabulate로 표 출력
print(tabulate(stats_df, headers="keys", tablefmt="grid"))

+----+-------------+----------+
|    | Statistic   |    Value |
+====+=============+==========+
|  0 | Min         |  53.1646 |
+----+-------------+----------+
|  1 | Median      |  86.25   |
+----+-------------+----------+
|  2 | Mean        |  83.5584 |
+----+-------------+----------+
|  3 | SD          |  11.1715 |
+----+-------------+----------+
|  4 | Max         | 100      |
+----+-------------+----------+