In [22]:
import pandas as pd

# 엑셀 파일 불러오기
df = pd.read_excel('/Users/bg.lim/Downloads/Texas A&M_Agrilife/Projects/1.CGM/Pilot/BG_Proposal/Demographic/age_bmi.xlsx', engine='openpyxl')  # 파일 경로 지정

df

    record_id  bmi_metric  age
0           1   27.766870   48
1           2   31.061526   27
2           3   38.185209   54
3           7   32.504433   49
4           8   27.219501   61
..        ...         ...  ...
78         84   32.233539   60
79         85   32.920748   52
80         86   28.454329   31
81         87   36.996560   46
82         89   27.468910   53

[83 rows x 3 columns]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   record_id   83 non-null     int64
 1   bmi_metric  83 non-null     float64
 2   age         83 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 2.1 KB

In [28]:
# 평균과 표준 편차 계산
bmi_mean = df.mean()
bmi_std = df.std()
age_mean = df.mean()
age_std = df.std()

# 결과 출력
print(f"BMI - Mean: {bmi_mean}, Standard Deviation: {bmi_std}")
print(f"Age - Mean: {age_mean}, Standard Deviation: {age_std}")

BMI - Mean: record_id     45.228916
bmi_metric    32.823712
age           48.012048
dtype: float64, Standard Deviation: record_id     24.774754
bmi_metric     4.786759
age           11.542598
dtype: float64
Age - Mean: record_id     45.228916
bmi_metric    32.823712
age           48.012048
dtype: float64, Standard Deviation: record_id     24.774754
bmi_metric     4.786759
age           11.542598
dtype: float64